<% wrap_layout :layout do %>
  <h2>
    <%= link_to current_page.title, current_page.url %>

<small class="text-muted">
  <%= current_page.date.strftime('%b %e') %>
  <% if current_page.date.year < Date.today.year %>
    <%= current_page.date.year %>
  <% end %>
</small>


  </h2>
<br>
  <article>
    <%= yield %>
  </article>
  <hr>
  <%= disqus %>
<% end %>
